<div class="nav-items">
    <div class="nav-item">
      <a (click)="onNavLinkClicked('mon-profil')">Mon Profil</a>
    </div>
    <div class="nav-item">
      <a (click)="onNavLinkClicked('reserver')">Réserver</a>
    </div>
    <div class="nav-item">
      <a (click)="onNavLinkClicked('mes-reservations')">Mes réservations</a>
    </div>
    <div class="nav-item">
      <a (click)="onNavLinkClicked('competitions')">Compétitions</a>
    </div>
    <div class="nav-item">
      <a (click)="onNavLinkClicked('mes-participations')">Mes participations</a>
    </div>
  </div>
  <div class="nav-item1">
    <a>Se Déconnecter</a>
  </div>