<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <img src="assets\333.png" class="img-fluid">
    </div>
    <div class="col-md-4">
      <h1>Bienvenue sur notre site de réservation de terrains et d'organisation de compétitions</h1>
      <p>Nous offrons les meilleurs terrains pour tous les niveaux de compétence. Réservez dès maintenant pour une expérience de jeu incroyable.</p>
      <a routerLink="/inscription" class="btn btn-primary btn-lg">Inscrivez-vous maintenant</a>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-12">
      <h2>Nos services</h2>
      <p>Nous offrons une variété de services pour répondre à vos besoins en matière de réservation de terrains et d'organisation de compétitions :</p>
      <ul>
        <li>Réservation de terrains de football</li>
        <li>Organisation de compétitions amicales</li>
        <li>Location d'équipements de football</li>
        <li>Service de traiteur pour les événements</li>
      </ul>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-12">
      <h2>Nos partenaires</h2>
      <p>Consultez les offres de nos partenaires et obtenez des réductions exclusives sur les équipements de football et les accessoires.</p>
      <div class="card-deck">
        <div class="card">
          <a href="https://www.nike.com" target="_blank"><img src="assets/images/partner-1.jpg" class="card-img-top"></a>
          <div class="card-body">
            <h5 class="card-title">Nike</h5>
            <p class="card-text">Obtenez 10% de réduction sur les chaussures de football en utilisant le code "FOOT10"</p>
            <a href="https://www.nike.com" target="_blank" class="btn btn-primary">Visitez le site de Nike</a>
          </div>
        </div>
        <div class="card">
          <a href="https://www.adidas.com" target="_blank"><img src="assets/images/partner-2.jpg" class="card-img-top"></a>
          <div class="card-body">
            <h5 class="card-title">Adidas</h5>
            <p class="card-text">Obtenez une paire de chaussettes gratuites pour tout achat de maillot de football</p>
            <a href="https://www.adidas.com" target="_blank" class="btn btn-primary">Visitez le site d'Adidas</a>
          </div>
        </div>
        <div class="card">
          <a href="https://www.puma.com" target="_blank"><img src="assets/images/partner-3.jpg" class="card-img-top"></a>
          <div class="card-body">
            <h5 class="card-title">Puma</h5>
            <p class="card-text">Obtenez 15% de réduction sur tous les articles de football en utilisantle code "PUMAFOOT"</p>
            <a href="https://www.puma.com" target="_blank" class="btn btn-primary">Visitez le site de Puma</a>
            </div>
            </div>
            </div>
            </div>
              </div>
            </div>
            

